body {
    font-size: 1.1em;
}

p, li {
    line-height: 1.5em;
}

pre {
    margin-bottom: 10px;
}

article h2 a {
    text-decoration: none;
}

td.options a {
    text-decoration: none;
    font-size: 1.3em;
    margin-right: 10px;
}