{% extends "layout.twig" %}

{% block content %}

    <h2>Login</h2>

    <form method="post" class="two thirds">

        {% if flash.error %}
            <p class="error message">{{ flash.error }}</p>
        {% endif %}

        <div class="one pad-bottom">
            <label for="username">Benutzername</label>
            <input type="text" name="username" id="username" required="required" />
        </div>

        <div class="one pad-bottom">
            <label for="password">Passwort</label>
            <input type="password" name="password" id="password" required="required" />
        </div>

        <div class="one padded align-right">
            <button type="submit" class="success">
                <i class="icon-ok"></i>
                Login
            </button>
        </div>

    </form>

{% endblock %}