{% extends "layout.twig" %}

{% block content %}

    <h2>Login</h2>

    <form method="post" class="two thirds">
        <div class="row">
            <div class="one padded">
                <label for="username">Benutzername</label>
                <input type="text" name="username" id="username" required="required" />
            </div>
        </div>
        <div class="row">
            <div class="one padded">
                <label for="password">Passwort</label>
                <input type="password" name="password" id="password" required="required" />
            </div>
        </div>
        <div class="row">
            <div class="one padded">
                <button type="submit">
                    Login
                </button>
            </div>
        </div>
    </form>

{% endblock %}