{% extends "index.twig" %}

{% block content %}

    {% for post in posts %}
        <article class="gap-bottom triple">
            <section>
                <header>
                    <h2>{{ post.title }}</h2>

                </header>
            </section>

            <section>
                <p>{{ post.excerpt|raw }}</p>
            </section>

            <section>
                <footer>
                    <a href="{{ app.baseUrl }}/article/{{ post.id }}">Weiterlesen</a>
                </footer>
            </section>
        </article>
    {% endfor %}

{% endblock %}