{% extends "index.twig" %}

{% block content %}

    {% for post in posts %}
        <article class="gap-bottom triple">
            <section>
                <header>
                    <h2>{{ post.title }}</h2>
                    <p>
                        <a class="small yellow button"><i class="icon-tag"></i> zeug</a>
                        <a class="small orange button"><i class="icon-tag"></i> anderes zeug</a>
                        <a class="small pink button"><i class="icon-tag"></i> development</a>
                        <a class="small purple button"><i class="icon-tag"></i> security</a>
                        <a class="small blue button"><i class="icon-tag"></i> framework</a>
                        <a class="small turquoise button"><i class="icon-tag"></i> github</a>
                        <a class="small green button"><i class="icon-tag"></i> open source</a>
                    </p>
                </header>
            </section>

            <section>
                <p>{{ post.excerpt|raw }}</p>
            </section>

            <section>
                <footer>
                    <a href="{{ app.baseUrl }}/article/{{ post.id }}" class="small button">
                        Weiterlesen
                        <i class="icon-chevron-right"></i>
                    </a>
                </footer>
            </section>
        </article>
    {% endfor %}

{% endblock %}