{% extends "index.twig" %}

{% block content %}

    <h2>Artikel erstellen</h2>

    <form method="post">
        <div class="row">
            <div class="one padded">
                <label for="name" for="title">Titel</label>
                <input type="text" id="title" name="title" placeholder="Ein wirklich richig guter Artikel" required="required" />
            </div>
            <div class="one padded">
                <label for="content" for="content">Inhalt</label>
                <textarea id="content" name="content" placeholder="Content, Content, Conteeeent" required="required"></textarea>
            </div>
            <div class="one padded">
                <button type="submit">
                    <i class="icon-ok"></i>
                    Speichern
                </button>
            </div>
        </div>
    </form>

{% endblock %}