{% extends "index.twig" %}

{% block content %}

    <article>
        <section>
            <header>
                <h2>{{ post.title }}</h2>
                <p>
                    <a class="small yellow button"><i class="icon-tag"></i> zeug</a>
                    <a class="small orange button"><i class="icon-tag"></i> anderes zeug</a>
                    <a class="small pink button"><i class="icon-tag"></i> development</a>
                    <a class="small purple button"><i class="icon-tag"></i> security</a>
                    <a class="small blue button"><i class="icon-tag"></i> framework</a>
                    <a class="small turquoise button"><i class="icon-tag"></i> github</a>
                    <a class="small green button"><i class="icon-tag"></i> open source</a>
                </p>
                <p class="small">veröffentlicht am {{ post.date|date("d.m.Y") }}</p>
            </header>
        </section>

        <section>
            <p>{{ post.content|markdown|raw }}</p>
        </section>

        <section>
            <footer class="gap-top double">
                <div class="row">
                    <div class="one half">
                        <a href="#" class="small button">
                            <i class="icon-double-angle-left"></i>
                            Vorheriger Artikel
                        </a>
                    </div>
                    <div class="one half align-right">
                        <a href="#" class="small button">
                            Nächster Artikel
                            <i class="icon-double-angle-right"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </section>
    </article>

{% endblock %}